html {
  box-sizing: border-box;
  font-size: 62.5%;
  /* 1rem = 10px; 10 /16px = 62.5%   */
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/*
 * Global layout stuff
 */

body {
  color: #545149;
  background-color: #f4f1ec;
  font-size: 24px;
  font-family: "Source Sans Pro", sans-serif;
}

main {
  margin: 0 5%;
}

.scroll-arrow {
  color: white;
  background-color: red;
  padding: 1.5rem 1.8rem;
  border-radius: 100%;
  position: fixed;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  display: none;
}

@media only screen and (min-width: 768px) {
  main {
    margin-top: 200px;
    width: 50%;
    float: right;
  }
}
