.tweet-list {
  border: black solid 3px;
  padding: 1.5rem 2rem;
  margin: 8rem 0;
}
.tweet-list:hover {
  box-shadow: 8px 5px 5px rgb(96, 133, 202);
}

.tweet-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}
.tweet-header_left {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tweet-footer {
  margin-top: 1.5rem;
  padding-top: 0.5rem;
  display: flex;
  justify-content: space-between;
  border-top: black solid 3px;
  align-items: center;
}
.tweet-time {
  font-size: 1.5rem;
  margin-left: 1.5rem;
}
.tweet-text {
  margin-left: 2rem;
}
.handle-name {
  color: #9faddb;
}
.icon {
  margin-right: 1.2rem;
  color: #4056a1;
  font-size: 1.5rem;
}

.icon:hover {
  color: rgb(189, 149, 64);
}
