.tweet {
  border: var(--line);
  padding: 1.5rem 2rem;
  margin-bottom: 8rem;
}
.tweet:hover {
  box-shadow: 8px 5px 5px #6085ca;
}
.tweet__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3rem;
}
.tweet__header-left {
  display: flex;
  align-items: center;
  justify-content: center;
}
.tweet__name {
  margin-left: 1.5rem;
}
.tweet__handle-name {
  color: var(--color-primary-light);
}
.tweet__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.5rem;
  padding-top: 0.5rem;
  border-top: var(--line);
}
.tweet__time {
  font-size: 1.5rem;
  margin-left: 1.5rem;
}
.tweet__text {
  margin-left: 2rem;
}

.icon {
  margin-right: 1.2rem;
  color: var(--color-primary);
  font-size: 1.5rem;
}
.icon:hover {
  color: #bd9540;
}
